.contacts__list {
  display: flex;

  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-text-color;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 31px;

  transition: color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}

.contacts__icon {
  fill: currentColor;
  align-self: center;

  margin-right: 10px;
}
