.page-header {
    background-color: $bg-color-third;
    border-bottom: 1px solid #ECECEC;
    
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; */
    
    /* opacity: 0.5; */
}

