.section {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 1px solid blue; */
}

.section__title--visually-hidden {
    /* display: none; */
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}

.section--no-padding-top {
    padding-top: 0;
}

.section__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.section--team-other-background {
    background-color: $bg-color-second;
}