.subscribe {
    width: 570px;
    margin-left: 93px;
}

.subscribe__container input {
    padding: 15px 0;
    margin: 0;
    width: 358px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $bg-color-main;
    color: $third-text-color;
    text-indent: 16px;
    outline-color: $focus-color;
    outline-width: 0;

    transition:
    border-color 250ms $transition-timing-function;
}

.subscribe__container input:hover,
.subscribe__container input:focus {
    border-color: $focus-color;
}

.subscribe__label {
    display: inline-block;
    color:$third-text-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    margin-bottom: 20px;
}

.subscribe__wrapper {
    display: flex;
    justify-content: space-between;
}

.subscribe__wrapper input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe__wrapper input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
    padding: 10px 28px;

    display: inline-flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    font-family: $main-font;
    background-color: $hero-button-color;
    border-radius: 4px;
    border: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $third-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition:
        background-color 250ms $transition-timing-function;
    /* box-shadow 250ms var(--transition-timing-function);     */

    &:hover {
        background-color: $hero-button-hover-color;
        /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
    }

    &:focus {
        background-color: $hero-button-hover-color;
        /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);     */
    }
}

.subscribe__icon {
    margin-left: 10px;
}