$main-text-color: #212121;
$second-text-color: #757575;
$third-text-color: #ffffff;
$color-logo: #2196F3;
$border-color: 1px solid #EEEEEE;
$border-color-hover: #2196F3;
$bg-color-main: #2F303A;
$bg-color-second: #F5F4FA;
$bg-color-third: #ffffff;
$bg-color-hero: #c4c4c4;
$bg-color-footer-social: rgba(255, 255, 255, 0.1);
$hover-color: #2196F3;
$focus-color: #2196F3;
$hero-button-color: #2196F3;
$hero-button-hover-color: #188CE8;
$hero-button-focus-color: #188CE8;
$second-text-color-buttons: #ffffff;
$bg-color-filter-buttons: #F5F4FA;
$main-font: 'Roboto';
$logo-font: 'Raleway';
$icon-fill-color: #AFB1B8;
$icon-hover-fill-color: #ffffff;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
