.logo {
  font-size: 24px;
  line-height: 1.17;
  display: inline-block;
  font-family: $logo-font;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $color-logo;
  text-decoration: none;
}

.logo__black {
  color: $main-text-color;
}

.logo__white {
  color: $third-text-color;
}

@media screen and (max-width: $mobile) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .logo__footer {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .logo__footer {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0;
  }
}

@media screen and (min-width: $desktop) {
  .logo {
    font-size: 25px;
    line-height: 1.19;
  }
}
